/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --black: #131313;
  --btn-background: #ff900e;
}
.container {
  width: 1174px;
  margin: auto;
}

/* -------------------------
 header styles 
-------------------------*/
.header {
  background: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 0px 80px 0px;
}
.logo {
  font-weight: 700;
  font-size: 29px;
  color: var(--black);
}
.menu {
  display: flex;
  align-items: center;
}
.menu li {
  list-style-type: none;
  margin-left: 31px;
}
.menu li a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 17px;
}

/* -------------------------
 banner section styles 
-------------------------*/
.banner-top-text {
  width: 804px;
  margin: auto;
  text-align: center;
}
.banner-title {
  font-size: 42px;
  line-height: 50px;
  color: var(--black);
  margin-bottom: 0.4em;
}
.banner-description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 25px;
}
.explore-btn {
  margin-bottom: 35px;
  background-color: var(--btn-background);
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 14px 20px;
  cursor: pointer;
}
.banner-img {
  width: 100%;
  margin-bottom: 40px;
}

/* our features section styles */
.our-features-wrapper {
  margin-top: 59px;
  margin-bottom: 130px;
}
.our-features {
  display: flex;
  gap: 73px;
  align-items: center;
}
.our-features-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features-left img {
  width: 310px;
}
.features-title {
  font-weight: 500;
  font-size: 36px;
  font-weight: 700;
}
.features-title .title-grey {
  color: #727272;
  font-weight: 500;
}
.features-title .title-orange {
  color: #ff900e;
}
.features-description {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 32px;
}

/* Features you will love section */
.features-love {
  display: flex;
  align-items: center;
  gap: 103px;
}
.features-love-title {
  border-left: 6px solid #ff900e;
  height: 85px;
}
.features-love-title h1 {
  font-size: 32px;
  margin-left: 11px;
}
.features-love-description {
  margin-top: 2%;
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.features-love-card {
  box-shadow: 2px 2px 5px #ddd, -2px -2px 5px #ddd;
  padding: 16px 30px;
  border-radius: 8px;
  margin-bottom: 14px;
}
.features-love-card h3 {
  color: #131313;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
.features-love-card p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.features-love-right img {
  width: 500px;
  height: 731px;
}
.image-btn {
  background-color: var(--btn-background);
  width: 251px;
  padding: 26px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  position: relative;
  top: -67px;
  left: -74px;
}
.image-btn h1 {
  font-size: 46px;
}
.image-btn p {
  font-size: 16px;
}

/* Some facts section */
.some-facts-wrapper {
  margin-top: 98px;
  margin-bottom: 180px;
}
.some-facts-top {
  width: 500px;
  margin-bottom: 70px;
}
.some-facts-title {
  font-size: 36px;
  margin-bottom: 19px;
  color: #131313;
}
.some-facts-description {
  color: #727272;
  font-size: 16px;
  line-height: 26px;
}
.some-facts-cards-wrapper {
  display: flex;
  gap: 133px;
}
.some-fact-card {
  width: 241.83px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 24px 0px;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.some-fact-card:hover {
  background-color: #ddd;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}
.some-fact-card img {
  margin-bottom: 10px;
  width: 34px;
}
.some-fact-card h1 {
  margin-bottom: 5px;
  color: #424242;
  font-weight: 600;
  font-size: 1.8em;
}
.some-fact-card p {
  color: #727272;
  font-size: 16px;
}

/* our sponsor section style */
.our-sponsor-top {
  text-align: center;
}
.our-sponsor-top h1 {
  color: #131313;
  font-size: 35px;
  margin-bottom: 24px;
}
.our-sponsor-top p {
  width: 53%;
  margin: auto;
  color: #727272;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
}
.our-sponsor-all-logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}
.our-sponsor-all-logo img {
  filter: grayscale(1);
  width: 125.76px;
}

/* footer section styles */
.footer{
    background: #FFF4E7;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    margin-bottom: 78px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 25px;
}
.footer p{
    color: #424242;
    font-weight: 400;
    font-size: 18px;
}




/* -------------------------
Responsive Mobile device 
 -------------------------*/
@media only screen and (max-width: 576px) {
  /* header section */
  .container {
    width: 85%;
  }
  .navbar,
  .menu {
    flex-direction: column;
  }
  .menu li {
    margin-top: 2em;
  }
  .logo {
    font-size: 1.5em;
  }

  /* banner section */
  .banner-top-text {
    width: 100%;
  }
  .banner-title {
    font-size: 1.8em;
    line-height: 42px;
  }

  /* our features section */
  .our-features {
    flex-direction: column;
  }
  .our-features-left {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features-left img {
    width: 100%;
  }

  /* Features you will love section */
  .features-love {
    flex-direction: column;
  }
  .features-love-right {
    margin-top: -86px;
  }
  .features-love-right img {
    width: 100%;
    height: 100%;
  }
  .image-btn {
    position: inherit;
    width: 100%;
    padding: 10px;
  }
  .image-btn h1 {
    font-size: 2.4em;
  }

  /* .Some facts section */
  .some-facts-top {
    width: 100%;
    margin-bottom: 49px;
  }
  .some-facts-wrapper {
    margin-top: 108px;
    text-align: center;
  }
  .some-facts-cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 58px;
  }
  .some-fact-card {
    width: 80%;
    padding: 20px 18px;
  }

  /* our sponsor section style */
  .our-sponsor-top p {
    width: 100%;
  }
  .our-sponsor-all-logo {
    flex-direction: column;
    gap: 24px;
  }
}




/* ------------------------- 
Responsive Tablet device 
 -------------------------*/
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* header section */
  .container {
    width: 85%;
  }
  .logo {
    font-size: 1.4em;
  }
  .menu li {
    margin-left: 15px;
  }

  /* banner section */
  .banner-top-text {
    width: 100%;
  }

  /* our features section */
  .our-features {
    flex-direction: column;
  }
  .our-features-left img {
    width: 100%;
  }

  /* Features you will love section */
  .features-love {
    flex-direction: column;
  }
  .features-love-right {
    margin-top: -86px;
  }
  .features-love-right img {
    width: 100%;
    height: 100%;
  }
  .image-btn {
    position: inherit;
    width: 100%;
    padding: 10px;
  }
  .image-btn h1 {
    font-size: 2.4em;
  }

  /* .Some facts section */
  .some-facts-top {
    width: 82%;
  }
  .some-facts-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 37px;
    grid-row-gap: 33px;
  }
  .some-fact-card {
    margin: auto;
    width: 100%;
  }

  /* our sponsor section style */
  .our-sponsor-top p {
    width: 100%;
  }
  .our-sponsor-all-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 16px;
  }
}
